# Web scraping
requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.1.0

# Database
sqlalchemy==2.0.30
psycopg2-binary==2.9.9

# Kafka
kafka-python==2.0.2

# Scheduler
APScheduler==3.10.4

# Environment / config
python-dotenv==1.0.1